
/*----- VRS Main Stylesheet
This is the main CSS file for the Vancouver Recital Society. All style changes are found here.

CREDITS:
- normalize.css - MIT License

----------------------------------------------------------------------------------------------------*/


/*----- Colour Scheme
This is a list of commonly used colours and where they are typically found. Reference here if you
are looking for a particular colour.

Links: #EB008B;
Orange (H1, Action Buttons): #ef7700;
Light Grey (Borders): #ddd;
Very Light Grey (Background, Navs): #eee;
----------------------------------------------------------------------------------------------------*/


/*----- Table of Contents
Use this section to find styles all throughout the stylesheet. Updated as necessary.
------------------------------------------------------------------------------------------------------

----------------------------------------------------------------------------------------------------*/

/*----- 01. Global Content Styles
This section is for styles that are used site-wide. Styles for the base HTML elements (ex: p, img,
input) as well as styles for commonly used, non-page-specific classes, go here. There is some
overlap with the reset styles here; I prefer to keep the resets clean from styling, as it makes
updating the site cleaner and easier. Please make styling changes here.
----------------------------------------------------------------------------------------------------*/
html, body { height: 100%; margin: 0; padding: 0; width: 100%; }
body { background: #000; color: #333; font: 14px/20px "Montserrat Bold", "Montserrat Regular", Arial; }
.container { margin: 0 auto; width: 980px; }


/*--- Micro-clearfix Hack ---*/
.clear:before,
.clear:after { content: " "; display: table; }
.clear:after { clear: both; }

h1, h2, h3, h4, h5, h6 { color: #333; font-weight: normal; text-transform: uppercase; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: #eb008b; }
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover { color: #333; }
h1 { font-size: 24px; line-height: 30px; }
h2 { font-size: 20px; line-height: 24px; }
h3 { font-size: 16px; line-height: 24px; }

a { display: inline-block; font-size: 14px; color: #eb008b; text-decoration: none; }
a:hover { color: #eb008b; text-decoration: none; }


/*----- Header Styles -----*/
header { background: #000; color: #fff; margin: 0; }

header img.logo { height: auto; margin: 0 0 -8px; max-width: 100%; }

nav#navigation-main { background: #eb008b; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4); color: #fff; font-size: 14px; margin: 0; padding: 10px 0; position: relative; text-align: center; text-transform: uppercase; z-index: 100; }
nav#navigation-main a { color: #fff; font-weight: bold; }
nav#navigation-main a:hover { color: #000; }

nav#navigation-main ul { list-style: none; padding: 0; }
nav#navigation-main ul li { border-right: 1px solid #b00068; float: left; margin: 0; padding: 10px 20px; }


/*----- Slideshow Styles -----*/
#slideshow { background: #000; height: 209px; padding: 0; }
#slideshow .image,
#slideshow .caption { box-sizing: border-box; display: inline-block; float: left; height: 209px; max-width: 50%; }

#slideshow .caption { background: rgba(0, 0, 0, 1); color: #828282; padding: 30px 40px; }
#slideshow .caption h1 { color: #eb008b; font-size: 24px; }


/*----- Main Styles -----*/
#main { background: #fff; padding: 30px 0 60px; }

#main .content-feed,
#main .sidebar-feed { box-sizing: border-box; display: block; height: 100%; float: left; max-width: 50%; width: 490px; }

.content-feed { padding: 0 0 0 60px; }
.sidebar-feed { padding: 0; }

.subscription-feed { background: #eb008b; padding: 10px 10px 40px 40px; }
.subscription-feed a { color: #fff; }
.subscription-feed a:hover { color: #000; }

.subscription-feed ul { list-style: none; margin: 0; padding: 0; text-transform: uppercase; }
.subscription-feed ul li { margin: 0; padding: 0 0 10px; width: 100%; }
.subscription-feed ul li a:after { border: 6px solid #000; border-top: 3px solid transparent; border-right: 0; border-bottom: 3px solid transparent; content: " "; display: inline-block; vertical-align: middle; margin-left: 10px; }


/*----- Footer Styles -----*/
footer { color: #828282; font-size: 12px; padding: 30px 0; }
footer a { color: #828282; font-size: 12px; }
footer a:hover { color: #828282; text-decoration: underline; }

footer img.logo { float: left; height: auto; margin: 0 0 0 30px; width: 300px; }

footer ul.social { float: right; list-style: none; margin: 0; padding: 0; }
footer ul.social li { float: left; height: 33px; margin: 0 0 0 10px; padding: 0; width: 33px; }
footer ul.social li a.fb { background: url("../images/fb-sprite.png") top no-repeat; height: 33px; width: 33px; }
footer ul.social li a:hover.fb { background: url("../images/fb-sprite.png") bottom no-repeat; text-decoration: none; }
footer ul.social li a.twt { background: url("../images/twt-sprite.png") top no-repeat; height: 33px; width: 33px; }
footer ul.social li a:hover.twt { background: url("../images/twt-sprite.png") bottom no-repeat; text-decoration: none; }
footer ul.social li a.yt { background: url("../images/yt-sprite.png") top no-repeat; height: 33px; width: 33px; }
footer ul.social li a:hover.yt { background: url("../images/yt-sprite.png") bottom no-repeat; text-decoration: none; }
footer ul.social li a.rss { background: url("../images/rss-sprite.png") top no-repeat; height: 33px; width: 33px; }
footer ul.social li a:hover.rss { background: url("../images/rss-sprite.png") bottom no-repeat; text-decoration: none; }

footer .copyright { margin-top: 30px; width: 100%; }
footer .copyright ul { float: right; list-style: none; margin: 0; padding: 0; }
footer .copyright ul li { border-left: 1px solid #828282; float: left; margin: 0 10px 0 0; padding: 0 0 0 10px; }
footer .copyright ul li:first-child { border-left: 0; }