
/*----- VRS Main Stylesheet
This is the main CSS file for the Vancouver Recital Society. All style changes are found here.

CREDITS:
- normalize.css - MIT License

----------------------------------------------------------------------------------------------------*/


/*----- Colour Scheme
This is a list of commonly used colours and where they are typically found. Reference here if you
are looking for a particular colour.

Blue (Links, Footer): #0c75ad;
Orange (H1, Action Buttons): #ef7700;
Light Grey (Borders): #ddd;
Very Light Grey (Background, Navs): #eee;
----------------------------------------------------------------------------------------------------*/


/*----- Table of Contents
Use this section to find styles all throughout the stylesheet. Updated as necessary.
------------------------------------------------------------------------------------------------------

----------------------------------------------------------------------------------------------------*/

/*----- 01. Global Content Styles
This section is for styles that are used site-wide. Styles for the base HTML elements (ex: p, img,
input) as well as styles for commonly used, non-page-specific classes, go here. There is some
overlap with the reset styles here; I prefer to keep the resets clean from styling, as it makes
updating the site cleaner and easier. Please make styling changes here.
----------------------------------------------------------------------------------------------------*/
html, body { height: 100%; margin: 0; padding: 0; width: 100%; }
body { background: #000; color: #333; font: 16px/24px "Montserrat Bold", "Montserrat Regular", Arial; }
.container { margin: 0 auto; width: 980px; }
#main { background: #fff; padding: 30px 0 60px; }

/*--- Micro-clearfix Hack ---*/
.clear:before,
.clear:after { content: " "; display: table; }
.clear:after { clear: both; }


/*----- Main Styles -----*/
header { background: #000; color: #fff; margin: 0; }

header img.logo { height: auto; margin: 0 0 -8px; max-width: 100%; }

nav#navigation-main { background: #eb008b; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4); color: #fff; font-size: 14px; margin: 0; padding: 10px 0; position: relative; text-align: center; text-transform: uppercase; z-index: 100; }
nav#navigation-main a,
nav#navigation-main a:hover { color: #fff; text-decoration: none; }
nav#navigation-main ul { list-style: none; padding: 0; }
nav#navigation-main ul li { border-right: 1px solid #b00068; float: left; margin: 0; padding: 10px 20px; }

#slideshow { background: #000; height: 209px; padding: 0; }

footer { color: #828282; font-size: 12px; padding: 30px 0; }
footer a { color: #828282; text-decoration: none; }
footer a:hover { text-decoration: underline; }

footer img.logo { float: left; height: auto; margin: 0; width: 300px; }
footer ul.social { float: right; list-style: none; margin: 0; padding: 0; }
footer ul.social li { float: left; margin: 0; padding: 0; }

footer .copyright { width: 100%; }
footer .copyright ul { float: right; list-style: none; margin: 0; padding: 0; }
footer .copyright ul li { border-left: 1px solid #828282; float: left; margin: 0 10px 0 0; padding: 0 0 0 10px; }
footer .copyright ul li:first-child { border-left: 0; }